<div class="modal fade" id="accountBlockedModal" tabindex="-1" aria-labelledby="accountBlockedModalLabel" aria-hidden="true" style="z-index: 99999999999999;">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0; padding-right: 10px; padding-top: 0px; margin-bottom: 16px;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center" style="gap: 16px;">
          <div class="zag-modal text-center">Аккаунт заблокирован</div>

          <div class="text-modal-body text-center">{{ account_blocked_message }}</div>

      </div>
    </div>
  </div>
</div>
