{% extends 'base_promotion.html' %}
{% load static %}

{% block title %}{{ company_info.brand_name }} | Восстановление пароль{% endblock %}
{% block meta_description %}Восстановите пароль от личного кабинета{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/participants/login.css' %}">
{% endblock %}

{% block content %}
<div class="container section">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card-login">
                <div class="zag-login mb-4 text-center">Забыли пароль?</div>
                <p class="text-center mb-4" style="color: var(--color-black);">Укажите email — мы отправим код для смены пароля</p>
                <form method="post" class="form-login">
                    {% csrf_token %}
                    <div class="d-flex flex-column" style="gap: 8px;">
                        <div class="label">Почта</div>
                        {{ form.email }}
                        <div class="text-danger small">{{ form.email.errors.0 }}</div>
                    </div>
                    <button class="btn-login w-100 mt-4" type="submit">Отправить код</button>
                    <div class="mt-4 text-center text-no-login">
                        <a href="{% url 'participants:login' %}">Вернуться ко входу</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/participants/login.js' %}"></script>
{% endblock %}
