{% load static %}

<div class="modal fade" id="watchCheckModal" tabindex="-1" aria-labelledby="watchCheckModalLabel" aria-hidden="true" style="z-index: 99999999999999;">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <div class="zag-modal">Смотреть чек</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body mt-4">
        <img id="watch-check-modal-image" src="{% static 'img/participants/6e29d6867776bde2a3c714c3372d7080ea10ab5b.png' %}" class="img-check-modal">
      </div>
    </div>
  </div>
</div>